/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
}



input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{
	list-style: none;
}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-------------------------------------------------*/




.container	{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

/*Header*/

.header {
	width: 100%;
	background: #001125;
	height: 70px;
	align-content: center;
	position: fixed;
	top: 0;
	z-index: 99999;
}
.header-content {
	display: flex;
}
.header-logo {
	position: relative;
	width: 238px;
	margin: 0 65px 0 0;
}
.guana {
	position: absolute;
	top: 13px;
	left: 0;
	z-index: 1;
}
.header-elipse {
	position: absolute;
	top: 40px;
	left: 10px;
}
.menu {
	display: flex;
	margin: 26px 135px 0 0;
}
.menu-list {
	list-style: none;
	margin: 0 42px 0 0;
}
.menu-link {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
}
.en-arrow {
	pointer-events: none;
}

.en-arrow {
	padding: 3px 0 0 3px;
}

.en {
	cursor: pointer;
	margin: 26px 29px 0 0;
	display: flex;
	position: relative;
}

.en select {
	background: none;
	-webkit-appearance: none;
	appearance: none;
	font-family: inherit;
	font-size: 14px;
	color: #fff;
	padding: 0 0 10px 0;
	border: none;
}
.en select option {
	background: #001125;

}

.header-btn {
	display: flex;
}
.blue-btn {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 900;
	color: #fff;
	background: #5896DD;
	padding: 12px 21px;
	border-radius: 25px;
	margin: 14px 10px 0 0;
}


/*regisrtation*/

.pop_up {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}
.pop_up.active {
	display: block;
}

.pop_up_container {
	display: flex;
	width: 100%;
	height: 925px;
	padding: 75px 0 20px 0;
}

.pop_up_body {
	margin: 10px auto;
	width: 100%;
	max-width: 288px;
	height: 100%;
	background: #263546;
	border: 1px solid #697EAE;
	border-radius: 43px;
	position: relative;
	padding: 20px;
	text-align: center;
}
.pop_up_body p{
	font-size: 16px;
	font-weight: 900;
	color: #fff;
	margin: 0 0 23px 0;
}
.pop_up_body input {
	background-color: #263546;
	margin: 0 0 10px 0;
	background-repeat: no-repeat;
	padding: 0 33px 6px 35px;
	width: 100%;
	height: 50px;
	border-radius: 90px;
	border: 1px solid #9F9F9F;
	font-size: 16px;
	color: #fff;
}
.pop_up_body input:focus {
	border-color: #74B5FF;
}
.pop_up_body input::placeholder {
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
}
.inp-mail {
	background: url(../img/form/Vector.svg);
	background-position: 7% 50%;

}

.pass  {
	background-image: url(../img/form/2.3.svg);
	background-position: 7% 50%;

}
.pass-conf {
	background-image: url(../img/form/2.3.svg);
	background-position: 7% 50%;

}
.full {
	background-image: url(../img/form/4.svg);
	background-position: 7% 50%;

}
.traf {
	background-image: url(../img/form/5.svg);
	background-position: 7% 50%;

}
.comp {
	background-image: url(../img/form/6.svg);
	background-position: 7% 50%;
}
.phone {
	background-image: url(../img/form/7.svg);
	background-position: 7% 50%;
}
.skype {
	background-image: url(../img/form/8.svg);
	background-position: 7% 50%;
}
.telega {
	background-image: url(../img/form/9.svg);
	background-position: 7% 50%;
}
.no-bg {
	background-image: none;
}
.form-reg-button {
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
	background: #D81887;
	padding: 20px 75px;
	border-radius: 30px;
}
.pop_up_close {
    position: absolute;
    top: 17px;
    right: 19px;
    cursor: pointer;
}




.checkbox {
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0 0 15px 0;
}
.checkbox span {
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	padding: 0 0 0 10px;
	line-height: 15px;
}
.checkbox span a {
	color: #fff;
}
.checkbox span a:hover {
	text-decoration: underline;
}
.checkbox-div {
	width: 80px;
	height: 50px;
	border-radius: 90px;
	border: 1px solid #9F9F9F;
	background: transparent;
	position: relative;
	transition: all 0.3s ease;
}

.checkbox-div:before {
	content: '';
	position: absolute;
	top: 3px;
    left: 3px;
    width: 41px;
    height: 42px;
	background-color: #9F9F9F;
	border-radius: 50%;
	transition: all 0.3s ease;
}
.checkbox-input:checked ~ .checkbox-div:before{
	background-color: #5896DD;
}
.checkbox-input:checked ~ .checkbox-div:before {
	left: 34px;
}
.checkbox-input {
	display: none;
}
.div-img  {
	margin: 0 0 0 15px;
}
/*login*/

.pop_up3 {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}
.pop_up3.active {
	display: block;
}
.pop_up3_container {
	display: flex;
	width: 100%;
	height: 435px;
	padding: 75px 0 20px 0;
}
.pop_up3_body {
	margin: 10px auto;
	width: 100%;
	max-width: 288px;
	height: 100%;
	background: #263546;
	border: 1px solid #697EAE;
	border-radius: 43px;
	position: relative;
	padding: 20px;
	text-align: center;
}
.pop_up3_body p{
	font-size: 16px;
	font-weight: 900;
	color: #fff;
	margin: 0 0 23px 0;
}
.pop_up3_body input {
	background-color: #263546;
	margin: 0 0 10px 0;
	background-repeat: no-repeat;
	padding: 0 15px 6px 45px;
	width: 100%;
	height: 50px;
	border-radius: 90px;
	border: 1px solid #9F9F9F;
	font-size: 16px;
	color: #fff;
}
.pop_up3_body input:focus {
	border-color: #74B5FF;
}
.pop_up3_body input::placeholder {
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
}
.inp-mail3 {
	background-image: url(../img/form/Vector.svg);
	background-position: 7% 50%;

}

.pass3 {
	background-image: url(../img/form/2.3.svg);
	background-position: 7% 50%;

}
.pass33 {
	background: url(../img/form/glas.svg);
}
.telega3 {
	background-image: url(../img/form/10.svg);
	background-position: 7% 50%;

}
.form-reg-button3 {
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
	background: #D81887;
	padding: 20px 75px;
	border-radius: 30px;
}
.pop_up_close3 {
    position: absolute;
    top: 17px;
    right: 19px;
    cursor: pointer;
}




.mail-abs svg {
	position: absolute;
	top: 80px;
    right: 15%;
    fill: #74B5FF;
}
.pas-abs img {
	position: absolute;
	top: 16%;
    right: 12%;
}
.pass-conf-abs img {
	position: absolute;
	top: 194px;
    right: 12%;
}
.ful-abs svg {
	position: absolute;
	top: 260px;
    right: 15%;
    fill: #74B5FF;
}
.traf-abs svg {
	position: absolute;
	top: 321px;
    right: 15%;
    fill:  #74B5FF;
}
/*registration*/


.pink-btn {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 900;
	color: #fff;
	background: #D81887;
	border-radius: 25px;
	padding: 12px 33px;
	margin: 14px 0 0 0;
}

.header-burger {
	display: none;
}
.glas-img {
    position: absolute;
        right: 33px;
    bottom: 54%;
}


/*Media*/
.media {
	background: radial-gradient(23.58% 84.95% at 53.77% 42.97%, #DB46A3 9.32%, #8748CD 47.99%, #0E399B 100%);
	background-position: center;
	background-size: cover;
	height: 385px;
	padding: 50px 0 0 0;
}
.media-content {
	text-align: center;
	padding: 55px 0 0 0;
}
.media-logo {
	margin: 0 0 35px 0;
}
.media-title {
	transition: all 0.8s ease;
	margin: 0 0 18px 0;
}
._anim-items {
	transform: translate(0px,30%);
	opacity: 0;
}
._active {
	transform: translate(0px,0px);
	opacity: 1;
	transition: all 0.6s ease; 
}

.media-title h1 {
	font-size: 48px;
	font-weight: 900;
	color: #fff;
}

.media-subtitle h2 {
	color: #99CCFF;
	font-size: 18px;
	font-weight: 900;
}
.media-subtitle a {
	color: #99CCFF;
}
.media-subtitle a:hover {
	text-decoration: underline;
}






/*AboutCasino*/
.about-casino {
	background: #040F1C;
	height: 320px;
	width: 100%;
	padding: 68px 0 0 0;
}
.casino-content {
	display: flex;
	justify-content: space-between;
}
.casibo-about {
	width: 82%;
}
.casibo-about h2 {
	font-size: 48px;
	font-weight: 900;
	color: #fff;
	margin: 0 0 26px 0;
}
.casibo-about p {
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	line-height: 116%;
	letter-spacing: -0.03em;
}
.casino-social {
	width: 16%;
}
.social-top {
	display: flex;
}
.social-top img {
	margin: 0 10px 0 0;
}
.social-top p {
	color: #99CCFF;
	font-size: 18px;
	font-weight: 400;
}
.social-top p:hover {
	text-decoration: underline;
}
.social-bottom {
	display: flex;
	justify-content: flex-end;
	margin: 10px 10px 0 0;
}




/*Langauge*/
.langauge {
	width: 100%;
	background: #01274E;
}
.langauge-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 75px 0 75px 0;
	position: relative;
}

.langauge-item {
	width: 31%;
	display: flex;
	line-height: 1.3;
	margin: 45px 0 0 0;
}
.langauge-item-icon {
	margin: 0 26px 0 0;
}
.langauge-item-content {
	margin: 10px 0 0 0;
}
.langauge-item-content h2 {
	color: #99CCFF;
	font-size: 19px;
	font-weight: 900;
	margin: 0 0 
}
.langauge-item-content p {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}
.sp {
	display: block;
	padding: : 0 0 15px 0;
}
.langauge-btn {
	position: absolute;
	bottom: 75px;
	right: 0;
	display: flex;
	background: #5896DD;
	align-items: center;
	border-radius: 25px;
}
.langauge-btn img {
	padding: 9px 11px 9px 60px;
}
.langauge-btn p {
	font-size: 15px;
	font-weight: 900;
	color: #fff;
	padding: 0 60px 0 0;
}







/*logoTypes*/
.logotypes {
	background: #040F1C;
	width: 100%;
	height: 760px;
}
.logotypes h2 {
	font-size: 48px;
	font-weight: 900;
	color: #fff;
	padding: 55px 0 50px 0;
}

.logo-btn {
	background: #5896DD;
	border-radius: 50%;
}
.logo-btn img {
	padding: 11px;

}
.logo-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.logo-item {
	width: 49%;
	height: 255px;
	background: #002147;
	border-radius: 30px;
	margin: 0 0 32px 0;
}
.logo-item-btn {
	display: flex;
	align-items: center;
}
.logo-item-btn p {
	font-size: 15px;
	font-weight: 900;
	color: #fff;
	margin: 0 0 0 10px;
	text-transform: uppercase;
}
.logo-item-title {
	display: flex;
	align-items: center;
	padding: 27px 0 35px 40px;
	text-transform: uppercase;
}
.logo-item-title h2 {
	color: #99CCFF;
	font-size: 18px;
	margin: 0 240px 0 0;
	padding: 0 0 5px 0;
}
.logo-item {

}
.logo-icon {
	text-align: center;
}

.aditional {
	background: #004492;
}
.aditional h2 {
	margin: 0 270px 0 0;
}

.aditional-black {
	background: #000;
}
.aditional-black h2 {
	margin: 0 270px 0 0;
}


.item-transparrent {
	width: 49%;
}
.item-transparrent h2 {
	font-size: 18px;
	font-weight: 900;
	color: #99CCFF;
	text-align: center;
}
.transparrent-items {
	display: flex;
	justify-content: center;
}
.transparrent-item {
	display: flex;
	align-items: center;
	margin: 0 25px 0 0;
}
.transparrent-item:last-child {
	margin: 0;
}
.transparrent-item p {
	font-size: 18px;
	font-weight: 900;
	color: #fff;
	margin: 0 0 0 10px;
}

.transparrent-items-btn {
	display: flex;
	justify-content: center;
	margin: 65px 0 0 0;
}
.transparrent-it-btn {
	font-size: 15px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	display: flex;
	background: #5896DD;
	align-items: center;
	border-radius: 25px;
}
.transparrent-it-btn img {
	padding: 13px 10px 13px 28px;
}
.transparrent-it-btn p {
	padding: 0 28px 0 0;
}
.item-transparrent-content {
	margin: -15px;
}


/*PromoBanners*/
.promo {
	background: #001E3D;
	width: 100%;
	height: 100%;
}
.promo-title h2 {
	font-size: 48px;
	font-weight: 900;
	color: #fff;
	
}
.promo-title {
	display: flex;
	justify-content: space-between;
	padding: 50px 0 45px 0;
}
.promo-butr {
	align-items: center;
	display: flex;
	background: #5896DD;
	border-radius: 25px;
}
.promo-butr img {
	padding: 0 10px 0 60px;
}
.promo-butr p {
	padding: 0 60px 0 0;
	font-size: 15px;
	font-weight: 900;
	color: #fff;
}
.slider {
	position: relative;
}
.slick-track {
	display: flex;
}
.slick-list {
	overflow: hidden;
}
.slider .slick-arrow {
	position: absolute;
	top: 50%;
	margin: -60px 0 0 0;
	z-index: 5;
	font-size: 0;
	width: 54px;
	height: 54px;
}
.slider .slick-arrow.slick-prev {
	left: 25px;
	background: url(../img/Promo/l.png) 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
	right: 50px;
	background: url(../img/Promo/r.png) 0 0 / 100% no-repeat;
}
.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li {
	margin: 45px 6px 0 0;
}
.slider .slick-dots li.slick-active button {
	background: #99CCFF;
}
.slider .slick-dots button {
	font-size: 0;
	width: 14px;
	height: 14px;
	background: transparent;
	border: 1px solid #99CCFF;
	border-radius: 50%;
}


/*CasinoBrand*/
.casino-brand {
	background: #000616;
	width: 100%;
	height: 1250px;
	position: relative;
}
.casino-brand-title {
	display: flex;
	justify-content: space-between;
	padding: 85px 0 0 0;
	align-items: center;
}
.casino-brand-title h2 {
	font-size: 48px;
	font-weight: 900;
	color: #fff;
}
.bran img {
	padding: 12px 10px 12px 50px;
}

.casino-brand-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 29px 0 0 0;
}
.casino-brand-item {
	width: 33%;
	margin: 27px 0 0 0;
}
.pink-btn-two {
	position: absolute;
	bottom: -30px;
	left: 37%;
	background: #D81887;
	text-align: center;
	padding: 17px 70px;
	border-radius: 25px;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 900;

}
/*Footer*/

.footer {
	width: 100%;
	height: 580px;
	background:  linear-gradient(180deg, #000000 0%, #000E27 100%);
}
.footer-title h2 {
	font-size: 48px;
	font-weight: 900;
	color: #fff;
	padding: 90px 0 10px 0;
}
.footer-title p {
	font-size: 18px;
	font-weight: 900;
	color: #99CCFF;
	margin: 0 0 30px 0;
}
.footer-social {
	display: flex;
	flex-wrap: wrap;
}
.form {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.form input {
	margin: 5px 0 5px 0;
	width: 100%;
	max-width: 460px;
	height: 50px;
	border-radius: 30px;
	background: #021225;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	padding: 0 15px 0 15px;
}
.form textarea {
	font-family: 'Lato', sans-serif;
	border-radius: 30px;
	background: #021225;
	padding: 15px 20px 0 20px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	max-width: 460px;
	max-height: 125px;
	resize: none;
	margin: 5px 0 0 0;
}
.form-f {
	position: relative;
}
.footer-butn {
	font-size: 15px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	background: #5896DD;
	padding: 12px 20px;
	border-radius: 25px;
	position: absolute;
	bottom: 5px;
    left: 150px;
}
.footer-icon {
	display: flex;
	margin: 0 45px 0 45px;
}
.footer-icon img {
	width: 100%;
}

.footer-social-item {
	display: flex;
	align-items: center;
	margin: 0 0 28px 0;
}
.footer-social-item p {
	color: #99CCFF;
	font-size: 18px;
	font-weight: 900;
	transition: all 0.2s ease;
}
.footer-social-item p:hover {
	text-decoration: underline;
}
.footer-social-item img {
	width: 34px;
	height: 34px;
	margin: 0 20px 0 0 ;
}
.footer-copiright {
	margin: 90px 0 0 0;
}
.footer-copiright a {
	display: block;
	margin: 0 0 5px 0;
	color: #99CCFF;
	font-size: 12px;
	font-weight: 300;
	opacity: 0.7;
}
.footer-copiright a:hover {
	text-decoration: underline;
}
.footer-copiright p {
	font-size: 12px;
	font-weight: 300;
	color: #fff;
}

.menu-hamb {
	display: none;
}
input.js-input.error {
	border: 1px solid red;
}
/*Adaptive*/
@media only screen and (max-width: 1223px){
	html {
		overflow-x: hidden;

	}
	.casino-content {
    padding: 0 0 0 10px;
	}
	.langauge-btn {
    right: 25px;
	}
	.promo-butr {
    margin: 0 30px 0 0;
	}
}
@media only screen and (max-width: 1202px) {
	.header-logo {
    margin: 0 50px 0 0;
	}
	.menu {
    margin: 26px 110px 0 0;
	}
	.guana {
    left: 5px;
	}
	.langauge-content {
    padding: 75px 10px 75px 10px;
	}
	.logotypes {
    padding: 0 10px;
	}
	.promo {
    padding: 0 10px;
	}
	.casino-brand {
    padding: 0 10px;
	}
	.footer {
    padding: 0 10px;
	}
}
@media only screen and (max-width: 1160px) {
	.menu {
    margin: 26px 65px 0 0;
	}
	.aditional h2 {
    margin: 0px 235px 0 0;
	}
	.logo-item-title h2 {
    margin: 0 185px 0 0;
	}
	.aditional-black h2 {
    margin: 0 230px 0 0;
	}
	.footer-copiright a {
    font-size: 13px;
	}
	.footer-copiright p {
	font-size: 13px;
	}
	.social-bottom {
    margin: 10px 55px 0 0;
	}
	.casino-social {
    width: 17%;
	}
	.logo-item-title h2 {
    margin: 0 180px 0 0;
	}
	.aditional h2 {
    margin: 0 205px 0 0;
	}
	.aditional-black h2 {
    margin: 0 205px 0 0;
	}
	.casibo-about {
    width: 70%;
	}
	.casino-social {
    width: 25%;
	}
	.social-bottom {
    margin: 10px 110px 0 0;
	}
}
@media only screen and (max-width: 1143px){
	.casino-brand-item {
    width: 35%;
	}
	.casino-brand-items {
    justify-content: center;
	}
	.casino-brand {
    height: 1760px;
	}
	.pink-btn-two {
    left: 33%;
	}
	.pink-btn {
    font-size: 14px;
	}
	.blue-btn {
    font-size: 14px;
	}
}
@media only screen and (max-width: 1106px) {
	.menu {
    margin: 26px 0px 0 0;
	}
}
@media only screen and (max-width: 1085px) {
	.footer-social {
    display: flex;
    justify-content: center;
	}
	.footer-social-mail {
		padding: 20px 0 0 0;
		display: flex;
	}
	.footer-copiright {
		margin: 0;
	}
	.footer-social-item img {
    margin: 0 10px 0 0;
	}
	.footer-social-item p {
    margin: 0 15px 0 0;
	}
	.footer-butn {
    bottom: -18px;
	}
	.footer-social-mail {
    padding: 55px 0 0 0;
	}
	.casino-brand-item {
    width: 38%;
	}
}
@media only screen and (max-width: 1050px) {
	.logo-item-title {
    padding: 15px 0 35px 20px;
	}
	.media-logo img {
    width: 22%;
	}
	.menu-list {
    margin: 0 30px 0 0;
	}
	.pink-btn-two {
    left: 31%;
	}
}
@media only screen and (max-width: 1006px) {
	.aditional h2 {
    margin: 0 175px 0 0;
	}
	.logo-item-title h2 {
    margin: 0 135px 0 0;
	}
	.aditional-black h2 {
    margin: 0 175px 0 0;
	}
	.casino-brand-item {
    width: 49%;
	}
	.casino-brand-item img {
    width: 94%;
	}
	.casino-brand {
    height: 2100px;
	}
	.guana img {
		width: 90%;
	}
	.pink-btn {
    padding: 12px 20px;
	}
	.blue-btn {
    padding: 0px 17px;
	}
	
	
}
@media only screen and (max-width: 961px) {

	.header-btn {
    	display: none;
		}
		.menu-hamb {
		display: block;
		position: fixed;
		transition: all 0.6s ease;
	}
	.menu-hamb.trans {
    position: fixed;
}
	.burg {
		display: block;
	}
	.blue-btn.burg {
    display: block;
        width: 290px;
            padding: 12px 0 12px 0;
            margin: 25px 0 0 10px;
	}
	.pink-btn.burg {
    padding: 12px 20px;
    width: 290px;
    
        margin: 15px 0 0 10px;
	}
	.header-burger {
		display: block;
		position: relative;
		left: -30%;
    	top: 40px;
		width: 26px;
		height: 20px;
		z-index: 50;
	}
	

	.header-burger.trans:before {
		transform: rotate(45deg);
		top: 9px;
		transition: all 0.3s ease;
	}
	.header-burger.trans:after {
		transform: rotate(-45deg);
		bottom: 9px;
		transition: all 0.3s ease;
	}
	.header-burger.trans span {
		transform: scale(0);
		
	}
	.menu-hamb {
    position: absolute;
    top: 99px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: #001125;
    z-index: 3;
    transform: scale(0);
    transition: all 0.6s ease;
    

	}
	.menu-hamb.trans {
	transform: scale(1);
    transition: all 0.6s ease;
	}
	.menu-list-hamb{
		list-style: none;
		margin: 20px 0 0 112px;
	}
	.menu-link-hamb {
		color: #FFF;
		font-size: 20px;

	}
	.header-burger:before,
	.header-burger:after {
		content: '';
		background: #99CCFF;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}
	.header-burger:before {
		top: 0;
	}
	.header-burger:after {
		bottom: 0;
	}
	.header-burger span {
		background: #99CCFF;
		position: absolute;
		width: 100%;
		left: 0;
		top: 9px;
		height: 2px;
	}




	.header-elipse {
		display: none;
	}
.menu {
    display: none;
	}
	
	.header-content {
		flex-wrap: wrap;
	}
	.header {
    height: 110px;
	}
	
	.header-logo {
    margin: 0 50px 0 50px;
	}
	.casino-brand-title h2 {
    font-size: 40px;
	}
	.promo-butr p {
    padding: 0 40px 0 0;
    font-size: 14px;
	}
	.bran img {
    padding: 12px 10px 12px 40px;
	}
	.guana img {
    width: 90%;
    margin: 0 0 0 300px;
	}
	.en {
    cursor: pointer;
    margin: 45px 29px 0 500px;
	}
	.menu-list-hamb {
    list-style: none;
    margin: 20px 0 0 165px;
	}
	.burg {
    display: block;
    margin: 0 0 0 50px;
	}
}




@media only screen and (max-width: 928px) {
	.logo-item-title h2 {
    margin: 0 100px 0 0;
	}
	.casino-brand {
    height: 2000px;
	}
	.pink-btn-two {
    left: 28%;
	}
	
}
@media only screen and (max-width: 932px){
	.en {
    cursor: pointer;
    margin: 45px 29px 0 400px;
	}
}
@media only screen and (max-width: 848px) {
	.casino-brand-title h2 {
    padding: 0 0 0 35px;
	}
	.logo-item-title h2 {
    margin: 0 75px 0 0;
	}
	.transparrent-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	}
	.transparrent-item:last-child {
    margin: 15px 0 0 0;
	}
	.transparrent-items-btn {
    margin: 30px 0 0 0;
	}
	.slider-item img {
		width: 100%;
	}
	.pink-btn-two {
    left: 25%;
	}
	.langauge-content {
    flex-wrap: wrap;
    justify-content: center;
	}
	.langauge-item {
    width: 46%;
    margin: 45px 15px 0 0;
	}
	.guana img {
    width: 100%;
    margin: 0 0 0 250px;
	}
}
@media only screen and (max-width: 832px) {
	.guana img {
    width: 100%;
    margin: 0 0 0 230px;
	}
	.en {
    cursor: pointer;
    margin: 45px 29px 0 300px;
	}
}


@media only screen and (max-width: 734px) {
	.header-burger {
    left: -39%;
	}
	.guana img {
    width: 100%;
    margin: 0 0 0 190px;
	}
	.en {
    margin: 45px 29px 0 220px;
	}


	.casino-social {
    width: 40%;
	}
	.logo-item-title {
    flex-wrap: wrap;
	}
	.logo-item-title h2 {
    margin: 0 75px 10px 0;
	}
	.casino-brand {
    height: 1630px;
	}
	.pink-btn-two {
    left: 22%;
	}
	.footer-icon {
    display: flex;
    margin: 50px 45px 0 45px;
	}
	.footer {
    height: 690px;
	}
	.logo-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	}
	.logo-item {
    width: 85%;
	}
	.logotypes {
    height: 1330px;
	}
	.logo-item-title {
    flex-wrap: wrap;
    justify-content: space-between;
	}
	.logo-item-btn {
    display: flex;
    align-items: center;
    padding: 0 20px 0 0;
	}
	.promo {
    height: 80%;
	}
	.about-casino {
    height: 400px;
	}
	.slider .slick-arrow.slick-next {
    right: 15px;
    background: url(../img/Promo/r.png) 0 0 / 85% no-repeat;
	}
	.slider .slick-arrow.slick-prev {
    left: 15px;
    background: url(../img/Promo/l.png) 0 0 / 85% no-repeat;
	}
	.media-subtitle h2 {
    padding: 0 10px 0 10px;
	}
}

@media only screen and (max-width: 709px) {
	.promo-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;
	}
	.promo-butr {
    margin: 18px 15px 0 0;
	}
	.promo-butr p {
    padding: 12px 55px 12px 0;
    font-size: 14px;
	}
	.casino-brand-title {
    justify-content: center;
    flex-wrap: wrap;
	}
	.casino-brand-title h2 {
    padding: 0 0 0 0px;
	}
	

}



@media only screen and (max-width: 652px) {
	.en {
    margin: 45px 29px 0 145px;
	}
	.guana img {
    width: 100%;
    margin: 0 0 0 160px;
	}
	.header-burger {
    left: -45%;
	}
	.footer-social-item p {
    font-size: 13px;
	}
	.footer-social-item img {
    width: 23px;
    height: 23px;
	}
	.footer-copiright a {
    font-size: 11px;
	}
	.footer-copiright p {
    font-size: 11px;
	}
	.casino-social {
    width: 32%;
	}
	.social-bottom {
    margin: 10px 40px 0 0;
	}
}

@media only screen and (max-width: 580px) {
	.header-burger {
    left: -55%;
	}
	.guana img {
    width: 100%;
    margin: 0 0 0 110px;
	}
	.en {
    margin: 45px 29px 0 95px;
	}
	.casibo-about p {
    margin: 95px 0 0 0;
	}
	.casino-social {
    height: 50px;
    position: absolute;
    left: 36%;
	}
	.casibo-about h2 {
    position: absolute;
    top: -60px;
    left: 26%;
	}
	.casibo-about {
    width: 98%;
    position: relative;
	}
	.logotypes h2 {
    text-align: center;
	}
	.promo-title {
    padding: 45px 0 20px 0;
	}
	.transparrent-it-btn {
    margin: 10px 0 0 0;
	}
	.slider .slick-arrow.slick-next {
    right: -10px;
    background: url(../img/Promo/r.png) 0 0 / 65% no-repeat;
	}
	.slider .slick-arrow.slick-prev {
    left: 8px;
    background: url(../img/Promo/l.png) 0 0 / 65% no-repeat;
	}
	.slider .slick-arrow {
    top: 53%;
	}
	.pink-btn-two {
    left: 15%;
	}
	.transparrent-item {
    display: flex;
    align-items: center;
    margin: 20px 25px 0 0;
	}
	.transparrent-item:last-child {
    margin: 15px 25px 0 0px;
	}
	.logotypes {
    height: 1370px;
	}
}

@media only screen and (max-width: 527px) {
	.casino-brand {
    height: 1430px;
	}
	.langauge-item {
    width: 48%;
	}
	.langauge-btn {
    right: 20%;
    bottom: 8px;
	}
	.header-burger {
    left: -60%;
	}
	.guana img {
    margin: 0 0 0 55px;
	}
	.en {
    margin: 45px 29px 0 30px;
	}
}
@media only screen and (max-width: 477px) {
	.langauge-item {
    width: 90%;
	}
	.pink-btn-two {
    left: 11%;
	}
	.footer-social-mail {
    position: absolute;
    display: block;
    bottom: 60%;
    left: 5%;
    padding: 55px 0 0 0;
	}
	.form-f {
    position: relative;
	}
	.footer-social {
    display: flex;
    justify-content: center;
    position: relative;
	}
	.form-f {
    position: relative;
    margin: 210px 0 0 0;
	}
	.footer-icon {
    display: none;
	}
	.footer-copiright {
    width: 100%;
    position: absolute;
    bottom: -178%;
    text-align: center;
    left: 30%;
	}

	.footer {
    height: 835px;
	}
	.footer-social-item p {
    font-size: 16px;
	}
	.casino-brand-title {
    text-align: center;
	}
	.casibo-about h2 {
    position: absolute;
    top: -60px;
    left: 20%;
	}
	.header-burger {
    left: -66%;
	}
	.guana img {
    margin: 0 0 0 40px;
	}
	.en {
    margin: 45px 29px 0 -10px;
	}
}
@media only screen and (max-width: 414px){
.en {
    margin: 18px 29px 0 -36px;
}
}
@media only screen and (max-width: 442px) {
	.casino-brand-item img {
    width: 100%;
    height: 120px;
    border-radius: 30px;
	}
	.casino-brand-item {
    width: 85%;
	}
	.casino-brand {
    height: 1635px;
	}
	.pink-btn-two {
    left: 8%;
	}
	.footer-title h2 {
    text-align: center;
	}
	.logo-item {
    width: 90%;
    height: 191px;
	}
	.logo-item-title h2 {
    margin: 0 0px 10px 0;
	}
	.logo-icon img {
		width: 50%;
	}
	.form input {
    margin: 5px 0 5px 0;
    width: 100%;
    max-width: 300px;
}
	.form textarea {
    max-width: 300px;
	}
	.footer-butn {
		left: 80px;
	}
	.transparrent-items-btn {
    margin: 30px 0 0 -55px;
    width: 150%;
	}
}
@media only screen and (max-width: 422px) {
	.menu-list-hamb {
    list-style: none;
    margin: 20px 0 0 120px;
	}
	.header-burger {
    left: -77%;
	}
	.guana img {
    margin: 0 0 0 0px;
	}
	.en {
    margin: 43px 29px 0 -50px;
	}
	.media-logo img {
    width: 35%;
	}
	.media-content {
    text-align: center;
    padding: 15px 0 0 0;
	}
	.casibo-about h2 {
    left: 15%;
	}
	.langauge-content {
    padding: 0px 10px 90px 10px;
	}
	.langauge-btn {
    right: 15%;
	}
	.casino-social {
    height: 35px;
    position: absolute;
    left: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
	}
	.social-bottom {
    margin: 0 40px 0 88px;
	}
	.header {
    height: 50px;
	}
	.guana img {
    width: 55%;
	}
	.guana img {
    margin: -5px 0 0 95px;
	}
	.header-burger {
    top: 15px;
	}
	.en {
    margin: 18px 29px 0 -15px;
	}
	.menu-hamb {
    top: 48px;
    transition: all 0.6s ease;
	}
	.media-title h1 {
    font-size: 36px;
	}
	.media-subtitle h2 {
    font-size: 14px;
	}
	.casibo-about h2 {
		font-size: 36px;
		left: 22%;
}
.social-top p {
    font-size: 16px;
}
.casibo-about p {
	font-size: 14px;
}
.about-casino {
    height: 333px;
	}
	.langauge-item-content h2 {
    font-size: 16px;
	}
	.langauge-item-content p {
    font-size: 16px;
	}
	.logotypes h2 {
    text-align: center;
}	
.logo-item-title h2 {
	font-size: 14px;
}
.logo-item-btn p {
    font-size: 12px;
    }
    .logo-btn img {
        padding: 8px;
	}
	.transparrent-items {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center;
}
.transparrent-item p {
    font-size: 12px;
    }
    .logotypes {
    height: 1105px;
	}
	.promo-title h2 {
    font-size: 36px;
	}
	.promo-title {
    padding: 10px 0 20px 0;
	}
	.slider .slick-dots li {
    margin: 12px 6px 0 0;
	}
	.slider .slick-arrow {
    top: 69%;
	}
	.slider .slick-arrow.slick-prev {
    left: 4px;
    background: url(../img/Promo/l.png) 0 0 / 55% no-repeat;
	}
	.slider .slick-arrow.slick-next {
    right: -19px;
    background: url(../img/Promo/r.png) 0 0 / 55% no-repeat;
	}
	.promo {
    height: 52%;
	}
	.casino-brand-title {
    padding: 30px 0 0 0;
	}
	.casino-brand-title h2 {
		font-size: 36px;
}
.casino-brand-item img {
    height: 175px;
	}
	.casino-brand {
    height: 2065px;
	}
	.pink-btn-two {
    left: 6%;
	}
	.footer-title h2 {
		font-size: 40px;
	}
	.footer-social-item img {
    width: 34px;
    height: 34px;
	}
	.footer-copiright {
    bottom: -155%;
    left: 18%;
	}
	.pink-btn-two {
    left: 21%;
    padding: 15px 12px;
    border-radius: 25px
	}
	.promo-butr p {
    padding: 12px 12px 12px 0;
	}
	.bran img {
    padding: 12px 10px 12px 12px;
	}
	.promo-butr img {
    padding: 0 10px 0 12px;
	}
	.transparrent-it-btn p {
    padding: 0 10px 0 0;
	}
	.transparrent-it-btn img {
    padding: 13px 10px 13px 12px;
	}	
	.langauge-btn p {
    padding: 0 12px 0 0;
	}
	.langauge-btn img {
    padding: 9px 11px 9px 12px;
	}
	.langauge-btn {
    right: 25%;
	}
	.menu-link-hamb {
    color: #FFF;
    font-size: 18px;
	}
}

@media only screen and (max-width: 412px) {
	.en {
    margin: 18px 29px 0 -40px;
	}
	.guana img {
    margin: -5px 0 0 86px;
	}
	.social-bottom {
    margin: 0 40px 0 43px;
	}
}
@media only screen and (max-width: 394px) {
	.en {
    margin: 18px 29px 0 -70px;
	}
	.header-burger {
    left: -82%;
	}
	.guana img {
    margin: -5px 0 0 65px;
	}
	.pink-btn-two {
    left: 17%;
	}
}
@media only screen and (max-width: 362px) {
	.burg {
    display: block;
    margin: 0 0 0 28px;
	}
	.header-burger {
    left: 3%;
	}
	.en {
    margin: 19px 29px 0 260px;
	}
	.transparrent-item {
    margin: 20px 6px 0 0px;
	}
	.transparrent-item:last-child {
    margin: 21px 25px 0 0px;
	}
	.transparrent-it-btn {
    margin: 10px 0 0 -26px;
	}
	.transparrent-items-btn {
    width: 185%;
	}
	.slider .slick-dots button {
    width: 12px;
    height: 12px;
	}
	.slider .slick-arrow {
    top: 75%;
	}
	.footer-copiright {
    left: 7%;
	}
}

@media only screen and (max-width: 354px) {
	.en {
    margin: 1px 29px 0 280px;
	}
}

@media only screen and (max-width: 320px) {
	.en {
    margin: -2px 29px 0 260px;
	}
	.casibo-about h2 {
    font-size: 36px;
    left: 15%;
	}
	.social-bottom {
    margin: -3px 0px 0 14px;
	}
	.langauge-btn {
    right: 18%;
	}	
	.logo-item {
    width: 100%;
    height: 185px;
	}
	.logo-item-btn {
    margin: -10px 0 0 0;
	}
	.logo-item-title h2 {
    margin: 7px 0px 10px 0;
	}
	.transparrent-item:last-child {
    margin: 21px 0px 0 0px;
	}
	.pink-btn-two {
    left: 9%;
	}
	.footer-copiright {
    left: 2%;
	}
	.casino-brand-item {
    width: 100%;
	}

}
.plig {
	line-height: 29px;
}
.plig p{
	font-size: 13px;
	color: #99CCFF;
	font-weight: 500;
}
.plig a {
	font-size: 13px;
	color: #99CCFF;
	font-weight: 500;
	text-decoration: underline;
}